<h1><%= @post.markdown_title %></h1>

<div class="row">
  <div class="col-md-8">
<<<<<<< HEAD
<<<<<<< HEAD
    <small>
=======
    <small class="post-meta">
>>>>>>> assignment-44-uploading-images
=======
    <small class="post-meta">
>>>>>>> assignment-44-uploading-images
      <%= image_tag @post.user.avatar.url(:tiny) if @post.user.avatar? %>
      submitted
      <%= time_ago_in_words(@post.created_at) %>
      ago by
      <%= @post.user.name %>
    </small>
<<<<<<< HEAD
<<<<<<< HEAD
    <p><%= @post.markdown_body %></p>
=======
      <%= image_tag(@post.image.post.url, class: 'thumbnail post-image') if @post.image? %>
      <p><%= @post.markdown_body %></p>
>>>>>>> assignment-44-uploading-images
=======
      <%= image_tag(@post.image.post.url, class: 'thumbnail post-image') if @post.image? %>
      <p><%= @post.markdown_body %></p>
>>>>>>> assignment-44-uploading-images
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
    <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
